b{
	color:teal ;
}
table{
	margin:auto;
}
.alert{
	text-align: center;
}
.jumbotron{
	
	padding-right:  0;
	padding-left: 0;
}

.text-center{
	margin-top:200px;
	color:crimson;
	font-size: 2em;
}
.text-success{
	text-align: center;
	color:teal ;
}